
h1 {
    color: blue;
    text-align: center;
}
san crispin {
    font-size: 24px;
    font-weight: bold;
}
p#parrafo {
    color: purple;
    font-size: 20px;
}
h1#nombre {
    color: rgb(50, 26, 53);
    font-size: 50px;
}
body {
    background-color: rgba(235, 146, 227, 0.5);
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
img.logo {
   margin: 20px;
    display: block;
    clip-path: inset(10px 10px 10px 10px);
    clip-path: circle(50% at 50% 50%);
}
header {
   background-color: #300428;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;
}
nav {
    background-color: #f4f4f4;
    
}
nav.ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
main {
    padding: 20px;
}